<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hmmm...</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h1>Hmmm...</h1>
    <p>{{ message }}</p>
    <p><a href="/sections">Go Back</a></p>
    {% if user_info %}
        <h2>User info</h2>
        <table class="table">
        <tr><td>Full name:</td><td>{{ user_info.full_name }}</td></tr>
            <tr><td>Email:</td><td>{{ user_info.email_address }}</td></tr>
            <tr><td>Current section:</td><td>{{ user_info.current_section.day_of_week }} {{ user_info.current_section.time_string }}
                    in {{ user_info.current_section.location }}</td></tr>
        </table>
    {% endif %}
</div>
</body>
</html>