{% extends 'base.html' %}
{% block body %}
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                {{ class_details.title }} <small>{{ class_details.subtitle }}</small>
            </h1>
            <ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-dashboard"></i> Current list of sections
                </li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <table class="table">
        <thead>
        <tr>
            <th>Day</th>
            <th>Time</th>
            <th>Location</th>
            <th>Enrollment</th>
        </tr>
        </thead>
        <tbody>
        {% for section in current_list %}
            <tr>
                <td>{{ section.day }}</td>
                <td>{{ section.time }}</td>
                <td>{{ section.location }}</td>
                <td>{{ section.enrollment }} / {{ section.max_size }}</td>
                <td><a href="/sections/signup/{{ class_details.id }}/{{ section.id }}">Sign up</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {%  if is_admin %}
        <h1>Add a new section</h1>

        <form action="/sections/save/{{ class_details.id }}" method="post" role="form">
            {% csrf_token %}

            {% for field in form %}
                <div class="form-group">
                    {{ field.errors }}
                    {{ field.label_tag }} {{ field }}
                </div>
            {% endfor %}
            <input type="submit" value="Submit" class="btn btn-default" />
        </form>
    {% endif %}

</div>
{% endblock %}