{% extends 'base.html' %}
{% block body %}
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                {{ class_details.title }} <small>{{ class_details.subtitle }}</small>
            </h1>
            <ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-dashboard"></i> Current list of sections
                </li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    {% if current_list %}
    <table class="table">
        <thead>
        <tr>
            <th>Day</th>
            <th>Time</th>
            <th>Location</th>
            <th>Enrollment</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for section in current_list %}
            <tr>
                <td>{{ section.day }}</td>
                <td>{{ section.time }}</td>
                <td>{{ section.location }}</td>
                <td>{{ section.enrollment }} / {{ section.max_size }}</td>
                <td>
                    <a href="/sections/signup/{{ class_details.id }}/{{ section.id }}">Sign up</a>
                {% if is_admin %}
                    | <a href="/sections/delete/{{ class_details.id }}/{{ section.id }}">Delete</a>
                {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class="row">
        <div class="col-lg-12">
            <p>There are no sections registered for this class.</p>
        </div>
    </div>
    {% endif %}

    {%  if is_admin %}
        <h1>Rosters</h1>
        <table class="table">
        <thead>
        <tr>
            <th>Section Id</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Day</th>
            <th>Time</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for section in current_list %}
            {% for student in section.students %}
                <tr>
                    <td>{{ section.id }}</td>
                    <td>{{ student.full_name }}</td>
                    <td>{{ student.email_address }}</td>
                    <td>{{ section.day }}</td>
                    <td>{{ section.time }}</td>
                    <td><a href="/students/delete/{{ class_details.id }}/{{ student.id }}">Delete</a></td>
                </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>

        <h1>Add a new section</h1>

        <form action="/sections/save/{{ class_details.id }}" method="post" role="form">
            {% csrf_token %}

            {% for field in form %}
                <div class="form-group">
                    {{ field.errors }}
                    {{ field.label_tag }} {{ field }}
                </div>
            {% endfor %}
            <input type="submit" value="Submit" class="btn btn-default" />
        </form>
    {% else %}
        <h3>Admin?</h3>
        <div class="row">
            <div class="col-lg-12">
                <p><a href="/loginpage?next=/sections/{{ class_details.id }}">Log in</a> to add sections.</p>
            </div>
        </div>
    {% endif %}

</div>
{% endblock %}