{% extends 'base.html' %}
{% block body %}
<div class="container">
	<div class="wrapper">
		<form action="/login" method="post" name="add_class" class="form-horizontal">
            {% csrf_token %}
		    <h3 class="form-heading">Admin Sign In</h3>
			  <hr class="colorgraph"><br>

			  <input type="text" class="form-control" name="username" placeholder="Username" required="" autofocus="" />
			  <input type="password" class="form-control" name="password" placeholder="Password" required=""/>

			  <button class="btn btn-lg btn-primary btn-block"  name="Submit" value="Login" type="Submit">Login</button>
		</form>
	</div>
</div>
{% endblock %}