<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sections</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>


<body>
<div class="container">
    <h1>Current list of sections</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Day</th>
            <th>Time</th>
            <th>Location</th>
            <th>Enrollment</th>
        </tr>
        </thead>
        <tbody>
        {% for section in current_list %}
            <tr>
                <td>{{ section.day }}</td>
                <td>{{ section.time }}</td>
                <td>{{ section.location }}</td>
                <td>{{ section.enrollment }} / {{ section.max_size }}</td>
                <td><a href="/sections/signup/{{ section.id }}">Sign up</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h1>Add a new section</h1>

    <form action="/sections/save" method="post" role="form">
        {% csrf_token %}

        {% for field in form %}
            <div class="form-group">
                {{ field.errors }}
                {{ field.label_tag }} {{ field }}
            </div>
        {% endfor %}
        <input type="submit" value="Submit" class="btn btn-default" />
    </form>


</div>

</body>
</html>